.card {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #535151;
}

.imageWrapper img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.content {
  padding: 0.75rem 0.9rem 0.9rem;
}

.caption {
  margin: 0 0 0.5rem;
  font-size: 0.95rem;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #6b7280;
}

/* .date {
} */

.stats {
  display: flex;
  flex-direction: row;
  gap: 1em;
} 

.deleteButton {
  color: #f97373;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.1rem 1.25rem;
}

.deleteButton:disabled {
  opacity: 0.5;
  cursor: default;
}
